@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import 'assets/utils.scss';

html, body {
  margin: 0px;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  background-color: $white;
  min-height: 100%;
  
  .sidebar {
    background-color: $blue;
    background-image: $bg-gradient;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3em;
  }

  .main {
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
  }

  .widget {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid $lighter-gray;
  }

  a.title, a.title:hover {
    font-size: 72px;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    text-shadow: $shadow;
    letter-spacing: 3px;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
  }
  
  a.title:hover {
    text-shadow: -1px 1px 8px $white, 1px -1px 8px $white;
    animation: glow .5s inifinite alternate;
  }

  ul {
    font-size: 36px;
    font-family: $quicksand;
    letter-spacing: 0.1em;
    list-style-type: none;
    padding-left: 0px;

    li {
      color: $white;
      padding-top: 25px;
      padding-bottom: 25px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    a {  
      -moz-transition: 500ms linear 0s;
      -o-transition: 500ms linear 0s;
      -webkit-transition: 500ms linear 0s;
      transition: 500ms linear 0s;
      color: $white;
    }

    a:hover {
      text-shadow: -1px 1px 8px $white, 1px -1px 8px $white;
      animation: glow .5s inifinite alternate;
    }
  }
}

.map {
  padding-top: 80px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
}
