@import 'assets/utils.scss';

html, body {
    margin: 0px;
    height: 100%;
}

#root {
    height: 100%;
}

.login {
    align-items: center;
    background-color: $blue;
    background-image: $bg-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    text-align: center;
}

#title {
    color: $white;
    font-family: $quicksand;
    font-size: 144px;
    text-decoration: none;
}

#buttons {
    display: flex;
    justify-content: center;
}

a.title, a.title:hover {
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    -webkit-transition: 500ms linear 0s;
    color: $white;
    font-family: $quicksand;
    font-size: 144px;
    letter-spacing: 3px;
    outline: 0 none;
    text-decoration: none;
    text-shadow: $shadow;
    transition: 500ms linear 0s;
  }
  
  a.title:hover {
    text-shadow: -1px 1px 8px #baeedc, 1px -1px 8px #c6f1e3;
    animation: glow .5s inifinite alternate;
  }

