@import "assets/utils.scss";

.map-interface {
    
    display: flex;
    flex-direction: column;
    height: 100%;

    .map-header {
        position: absolute;
        display: flex;
        align-items: center;
        color: $white;
        font-size: 96px;
        font-family: $quicksand;
        background-color: $blue;
        background-image: linear-gradient(91.58deg, #0097D8 -16.48%, #C4EB9D 112.91%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        padding: 22px 50px;
        text-shadow: $shadow;
        min-height: 100px;
        bottom: 85%;
        right: 0;
        left: 0;
        top: 0;
        z-index: 3;

        a, a:hover {
            -moz-transition: 500ms linear 0s;
            -o-transition: 500ms linear 0s;
            -webkit-transition: 500ms linear 0s;
            color: $white;
            outline: 0 none;
            text-decoration: none;
            text-shadow: $shadow;
            transition: 500ms linear 0s;
          }
          
          a:hover {
            text-shadow: -1px 1px 8px #baeedc, 1px -1px 8px #c6f1e3;
            animation: glow .5s inifinite alternate;
          }
    }

    .map-body {
        display: flex;
        flex-direction: row;
        height: 100%;

        .map-container {
            position: absolute;
            left: 30%;
            top: 15%;
            bottom: 0;
            right: 0;

            .searchbox {

                display: flex;
                flex-direction: row;
                position: absolute; 
                top: 5%;
                left: 5%;
                align-items: center;
    
                .button {
                    border: 0px;
                    color: $white;
                    font-size: 20px;
                    background-color: $blue;
                    padding: 10px 30px;
                    min-width: auto;
                    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.25);
                }
    
                button:hover {
                    animation: glow .5s inifinite alternate;
                    background-color: $dark-blue;
                }

                input {
                    height: auto;
                    width: 500px;
                    font-family: $quicksand;
                    font-size: 20px;
                    color: $gray;
                    z-index: 10;
                    border-radius: 10px;
                    border: 0px;
                    padding: 10px;
                    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    .map-sidebar {
        position: absolute;
        background-color: $lighter-gray;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        padding: 2em;
        right: 70%;
        top: 15%;
        bottom: 0;
        left: 0;
        z-index: 1;

        .trip-details {
            padding-bottom: 20px;
        }

        .checkbox {
            margin-top: 15px;
            font-family: $quicksand;
            font-size: 18px;
            color: $light-gray;

            .checkbox-circle label::before {
                border-radius: 50%; 
            }

            .checkbox-circle input[type="checkbox" i] {
                border-radius: 50%;
            }
        }

        .trip-destinations {
            padding: 10px;
            flex-grow: 1;
            overflow: auto;

            .destinations {
                flex: 1;

                .default-message {
                    font-family: $quicksand;
                    color: $gray;
                    text-align: center;
                }
            }
        }

        .submit-button {

            display: flex;
            justify-content: center;

            .button {
                border: 0px;
                color: $white;
                font-size: 20px;
                background-color: $blue;
            }

            button:hover {
                animation: glow .5s inifinite alternate;
                box-sizing: border-box;
                background-color: $dark-blue;
              }
        }
    }

}