@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$bg-gradient: linear-gradient(#11B8FF, #C4EB9D);
$shadow: 0px 5px rgba(100, 100, 100, 0.5);

$quicksand: 'Quicksand', 'Century', sans-serif;

$white: #F5F5F5;
$light-blue: #86D1F1;
$blue:  #11B8FF;
$dark-blue: #0097D8;
$gray: #4D4D4D;
$light-gray: #939393;
$lighter-gray: #F3F3F3;
$green: #C4EB9D;
$teal: #66e2da;

h1 {
    font-size: 54px;
    color: $blue;
    font-family: $quicksand;
    font-weight: 100;
    margin-top: 0px;
}

h2 {
    font-size: 36px;
    color: $blue;
    font-family: $quicksand;
    font-weight: 100;
    margin-top: 0px;
}

html, body {
    margin: 0px;
    height: 100%;
}

#root {
    height: 100%;
}